@font-face {
    font-family: ror2;
    src: url("../Fonts/riskofrainsquare.ttf");
}

@font-face {
    font-family: pix;
    src: url("../Fonts/son-son.ttf");
}

/*
    font-family: 'Share Tech Mono', monospace; <- For "Character Guide"
    font-family: 'Comfortaa', cursive; <- For stats small text
*/

body {
    background-image: url("/img/ROR2_Background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
}

div#title h1 {
    font-family: ror2;
    font-size: 150px;
    color: rgb(255, 162, 56);
    width: 100%;
}

div#title div {
    font-family: 'Share Tech Mono', monospace;
    font-size: 70px;
    color: white;
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

div#title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 35%;
} 

h2 {
    margin-top: 15em;
    margin-bottom: 1em;
    font-family: pix;
}

section {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
}

.elevator-button:hover {
    cursor: pointer;
}